.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__full-width {
  width: 200px;
  margin-right: 12px;
}

mat-spinner {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
}
